
* {
   margin: 0;
   padding: 0;
   font-family: 'Montserrat', sans-serif;
}

body {
   background-color: rgb(46, 47, 14);
   color: yellow;
   font-family: Arial, Helvetica, sans-serif;
}

ul {
   display: flex;
   justify-content: space-between;
   list-style-type: none;
   align-items: center;
   padding: 20px;
}

a {
   color: rgb(18, 192, 38);
   text-decoration: none;
}

img {
   width: 100%;
}

h1 {
   color: blue;
   text-align: center;
   margin-top: 30px;
}

p {
   font-size: 24px;
   color: white;
   text-align: center;
   margin-top: 30px;
}

input {
   display: block;
   background: #F9F9F9;
   border: 1px solid #E6E6E6;
   border-radius: 5px;
   height: 50px;
   width: 352px;
   margin-bottom: 20px;
}

textarea {
   display: block;
   background: #F9F9F9;
   border: 1px solid #E6E6E6;
   border-radius: 5px;
   height: 100px;
   width: 352px;
   margin-bottom: 20px;
}

form {
   background: #FFFFFF;
   padding: 20px;
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   border-radius: 10px;
   opacity: 0;
   transition: opacity 1s;
}

button {
   background: #3508d9;
   border: none;
   padding: 20px;
   border-radius: 5px;
   font-weight: bold;
   width: 247px;
   cursor: pointer;
   color: #FFFFFF;
}

button:hover {
   opacity: 0.8;
}

.voltar {
   background: gray;
}

div {
   transition: opacity 1s;
}